<?xml version="1.0" ?>
<robot name="hook_hand">
    <link name="hand_base">
        <visual>
            <geometry>
                <cylinder length="0.065" radius="0.02"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.065" radius="0.031"/>
            </geometry>
        </collision>
    </link>
    <joint name="hand2hook" type="fixed">
        <origin rpy="-1.57 0 -1.57" xyz="-0.031 0.031 0.0425"/>
        <parent link="hand_base"/>
        <child link="hook"/>
    </joint>
    <link name="hook">
        <visual>
          <origin xyz="0.031 0.01 0.031" rpy="3.14159265 0 1.57"/>
          <geometry>
              <mesh filename="./meshes/ur3/visual/hook4door_sagano_san.dae" scale="0.001 0.001 0.001" />
          </geometry>
      </visual>        <collision>
            <geometry>
                <mesh filename="./meshes/ur3/visual/hook4door_v3.obj"/>
            </geometry>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
        </collision>
    </link>
    <joint name='hook_finger' type='fixed'>
        <origin rpy="0 0 0" xyz="0.08 0 0.17"/>
        <parent link='hand_base'/>
        <child link='hook_finger'/>
    </joint >
    <link name='hook_finger'>
        <visual>
            <geometry>
                <sphere radius='0.007'/>
            </geometry>
        </visual>
    </link>
</robot>