<?xml version="1.0" ?>
<robot name="gripper_test" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="ee_base"/>
        <joint name="ee_x" type="prismatic">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="ee_base"/>
            <child link="hand_base"/>
            <axis xyz="1 0 0"/>
            <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.1"/>
        </joint>
        <joint name="ee_y" type="prismatic">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="ee_base"/>
            <child link="hand_base"/>
            <axis xyz="0 1 0"/>
            <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.1"/>
        </joint>
        <joint name="ee_z" type="prismatic">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="ee_base"/>
            <child link="hand_base"/>
            <axis xyz="0 0 1"/>
            <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.1"/>
        </joint>
        <joint name="ee_rx" type="revolute">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="ee_base"/>
            <child link="hand_base"/>
            <axis xyz="1 0 0"/>
            <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.1"/>
        </joint>
        <joint name="ee_ry" type="revolute">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="ee_base"/>
            <child link="hand_base"/>
            <axis xyz="0 1 0"/>
            <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.1"/>
        </joint>
        <joint name="ee_rz" type="revolute">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="ee_base"/>
            <child link="hand_base"/>
            <axis xyz="0 0 1"/>
            <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.1"/>
        </joint>
    <link name="hand_base">
        <visual>
            <geometry>
            <mesh filename="./meshes/ur3/visual/hand_base.dae"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
            <mesh filename="./meshes/ur3/collision/hand_base.obj"/>
            </geometry>
        </collision>
    </link>

    <joint name="ee_x" type="prismatic">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="hand_base"/>
        <child link="hand_base"/>
    </joint>

    <link name="hand_right">
        <visual>
            <geometry>
            <mesh filename="./meshes/ur3/visual/finger.dae"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
            <mesh filename="./meshes/ur3/collision/finger.obj"/>
            </geometry>
        </collision>
    </link>
    <joint name="ur3_righthandjoint" type="prismatic">
    <!-- default toolframe: X+ left, Y+ up, Z+ front -->
    <!-- <origin rpy="0 0 1.5707963267948966" xyz="0.016 0 0.1556"/> -->
    <origin rpy="0 0 1.5707963267948966" xyz="0.016 0 0.075"/>
    <parent link="hand_base"/>
    <child link="hand_right"/>
    <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="0" upper="0.016" velocity="0.1"/>
    </joint>
    <link name="hand_left">
    <visual>
        <geometry>
        <mesh filename="./meshes/ur3/visual/finger.dae"/>
        </geometry>
    </visual>
    <collision>
        <geometry>
        <mesh filename="./meshes/ur3/collision/finger.obj"/>
        </geometry>
    </collision>
    </link>
    <joint name="ur3_lefthandjoint" type="prismatic">
    <!-- default toolframe: X+ left, Y+ up, Z+ front -->
    <origin rpy="0 0 -1.5707963267948966" xyz="-0.016 0 0.075"/>
    <parent link="hand_base"/>
    <child link="hand_left"/>
    <axis xyz="0 1 0"/>
    <limit effort="1000" lower="0" upper="0.016" velocity="0.1"/>
    </joint>